/* For use in src/lib/core/theming/_palette.scss */
$primary: (
    50 : #eff7eb,
    100 : #d6ebcd,
    200 : #bbdeab,
    300 : #9fd189,
    400 : #8bc770,
    500 : #76bd57,
    600 : #6eb74f,
    700 : #63ae46,
    800 : #59a63c,
    900 : #46982c,
    A100 : #e4ffdc,
    A200 : #bcffa9,
    A400 : #95ff76,
    A700 : #81ff5d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary: (
    50 : #e4eae1,
    100 : #bbcbb3,
    200 : #8da881,
    300 : #5f854f,
    400 : #3d6b29,
    500 : #1b5103,
    600 : #184a03,
    700 : #144002,
    800 : #103702,
    900 : #082701,
    A100 : #6eff62,
    A200 : #3fff2f,
    A400 : #14fb00,
    A700 : #12e100,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

